@using Kakariki.Scrabble.Logic
@model Move

        <td>@Html.DisplayFor(model => model.Score)</td>
        <td>@Html.DisplayFor(model => model.Word)</td>
        <td>@Html.DisplayFor(model => model.Orientation)</td>    
        <td>@Html.DisplayFor(model => model.Column)</td>
        <td>@Html.DisplayFor(model => model.Row)</td>
    